.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  transition: 0.3s width;
  background: var(--inverted-bg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
  flex-shrink: 0;
}

.TogglePosition {
  position: absolute;
  bottom: 40px;
  right: -40px;
  width: 40px;
}

.ThemSwitcher_size {
  min-width: 60px;
  min-height: 60px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: auto;
  transition: flex 0.5s ease;
}

.collapsed{
  width: var(--sidebar-width-collapsed);
  transition: 0.3s width;

  .footer {
    flex-direction: column;
    transition: flex 0.5s ease;
  }

}