.ArticleList {
}

.TILE {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  width: 70vw;
}

.LIST {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}