.ArticleTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: var(--margin-bottom-article-bloks);
}

.paragraph {
  margin-bottom: var(--margin-bottom-article-bloks);
}
