.Comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--inverted-bg-color);
  padding: 16px;
}

.link{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {

}

.main {

}