.AppButton{
  cursor: pointer;
}

.clear {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.inverted {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color)
}

.primary {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: var(--bg-color);
  color: var(--primary-color)
}

.m {
  font-size: var(--font-size-m);
}

.l {
  font-size: var(--font-size-l);
}

.xl {
  font-size: var(--font-size-xl);
}

.square{
  aspect-ratio: 1 / 1;
}
