.Navbar{
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.LinkSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}