.EditableProfileHeader {
  padding: 10px 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 10px;
}

.btn_wrap {
  display: flex;
  gap: 20px;
}