.Link {}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.inverted_primary {
  color: var(--inverted-primary-color);
}

.inverted_secondary {
  color: var(--inverted-secondary-color);
}